.on-the-right
	float right

.on-the-left
	float left

@import 'typography'
@import 'ripple'
@import 'depth'

@import 'button'
@import 'card'
@import 'nav'

body
	margin 0
	padding 0

	max-width none
	width 100%
	height 100%

	display block

html
	min-height 100vh

main
	margin-bottom 6em
