.button
	@extend .text-button

	color off-white
	background-color rgba(black, 0.8)

	colorOptions()

	&.white
		background-color rgba(white, 0.9)
		color off-black

		.ripple .rippler
			background-color black

	&.flat
		@extend .without-shadow
		color inherit
		background-color transparent

		&:hover
			@extend .without-shadow

	&.disabled
		background-color rgba(#9E9E9E, 0.2)
		color #9E9E9E
		cursor default
		pointer-events none
		@extend .without-shadow

	display inline-block
	margin 1em 0.6em
	padding 1px 1.5em
	cursor pointer

	&.rounded
		border-radius 2px

	user-select none
	position relative

	@extend .with-shadow
	transition box-shadow 0.2s ease-out

	&.circular
		padding 0
		width 64px
		height 64px
		text-align center
		line-height @height
		border-radius 1000000px

		&:after
			border-radius 1000000px

	&:after
		content ''
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		border-radius 2px
		background-color white
		opacity 0
		pointer-events none
		transition opacity 0.2s ease-out

	&:not(.that-ripples):active:after
		opacity 0.2

	&:hover
		@extend .with-shadow

		&:active
			@extend .with-long-shadow
