.card
	colorOptions()

	color off-black
	background-color rgba(white, 0.9)

	display block
	margin 1em 0.6em
	border-radius 2px
	padding 1em 2em

	&.hoverable
		transition box-shadow 0.2s ease-out

		&:hover
			@extend .depth-2

	@extend .depth-1

.container, main
	margin auto
	width 90%
	max-width 1080px
