.card
	colorOptions()

	color off-black
	background-color rgba(white, 0.9)

	display block
	margin 1em 0.6em
	padding 1em 2em

	&.rounded
		border-radius 2px

	&.hoverable
		transition box-shadow 0.2s ease-out

		&:hover
			@extend .with-long-shadow

	@extend .with-shadow

.container, main
	margin auto
	width 95%
	max-width 1080px
