.card
	&.red
		color off-white
		background-color rgba(#F44336, 0.9)

	&.pink
		color off-white
		background-color rgba(#E91E63, 0.9)

	&.purple
		color off-white
		background-color rgba(#9C27B0, 0.9)

	&.deep-purple
		color off-white
		background-color rgba(#673AB7, 0.9)

	&.indigo
		color off-white
		background-color rgba(#3F51B5, 0.9)

	&.blue
		color off-white
		background-color rgba(#2196F3, 0.9)

	&.light-blue
		color off-white
		background-color rgba(#03A9F4, 0.9)

	&.cyan
		color off-white
		background-color rgba(#00BCD4, 0.9)

	&.teal
		color off-white
		background-color rgba(#009688, 0.9)

	&.green
		color off-white
		background-color rgba(#4CAF50, 0.9)

	&.light-green
	&.yellow
		background-color rgba(#FFEB3B, 0.9)

	&.amber
		background-color rgba(#FFC107, 0.9)

	&.orange
		background-color rgba(#FF9800, 0.9)

	&.deep-orange
		color off-white
		background-color rgba(#FF5722, 0.9)

	&.brown
		color off-white
		background-color rgba(#795548, 0.9)

	&.grey
		color off-white
		background-color rgba(#9E9E9E, 0.9)

	&.blue-grey
		color off-white
		background-color rgba(#607D8B, 0.9)

	&.black
		color off-white
		background-color rgba(black, 0.9)

	color off-black
	background-color rgba(white, 0.9)

	display block
	margin 1em 0.6em
	border-radius 2px
	padding 1em 2em

	&.hoverable
		transition box-shadow 0.2s ease-out

		&:hover
			@extend .depth-2

	@extend .depth-1

.container
	margin auto
	width 90%
	max-width 1080px
