nav, .navbar
	colorOptions()
	@extend .with-shadow

	width 100%
	display block
	height 64px
	user-select none
	cursor default
	z-index 99

	&.floating
		position fixed
		top 0
		left 0

		h1, h2, h3, h4, h5, h6
			line-height 64px


main
	margin-top 64px
