font = 'Fira Sans', 'Roboto', 'Helvectica Neue', sans-serif
off-black = rgba(black, 0.95)
off-white = rgba(white, 0.95)

.text-display-4, h1
	font-size 112px
	font-weight 300
	line-height 128px
	letter-spacing -5px

.text-display-3, h2
	font-size 56px
	font-weight 400
	line-height 64px
	letter-spacing normal

.text-display-2, h3
	font-size 45px
	font-weight 400
	line-height 64px
	letter-spacing normal

.text-display-1, h4
	font-size 34px
	font-weight 400
	line-height 52px
	letter-spacing normal

.text-headline, h5
	font-size 24px
	font-weight 400
	line-height 44px
	letter-spacing normal

.text-title, h6
	font-size 20px
	font-weight 500
	line-height 44px
	letter-spacing normal

.text-subhead
	font-size 16px
	font-weight 400
	line-height 32px
	letter-spacing normal

.text-menu
	font-size 14px
	font-weight 500
	line-height 32px
	letter-spacing normal

.text-button
	font-size 14px
	font-weight 500
	line-height 32px
	letter-spacing normal
	text-transform uppercase

.text-caption
	font-size 12px
	font-weight 400
	line-height 32px
	letter-spacing normal

.text-body, p
	font-size 14px
	font-weight 400
	line-height 25px
	letter-spacing normal

	max-width 40em
	margin 8px 0

b
	font-weight 500

body
	font-family font
	color off-black
	@extend .text-body

h1, h2, h3, h4, h5, h6
	margin 0

colorOptions()
	&.red
		color off-white
		background-color rgba(#F44336, 0.9)

	&.pink
		color off-white
		background-color rgba(#E91E63, 0.9)

	&.purple
		color off-white
		background-color rgba(#9C27B0, 0.9)

	&.deep-purple
		color off-white
		background-color rgba(#673AB7, 0.9)

	&.indigo
		color off-white
		background-color rgba(#3F51B5, 0.9)

	&.blue
		color off-white
		background-color rgba(#2196F3, 0.9)

	&.light-blue
		color off-white
		background-color rgba(#03A9F4, 0.9)

	&.cyan
		color off-white
		background-color rgba(#00BCD4, 0.9)

	&.teal
		color off-white
		background-color rgba(#009688, 0.9)

	&.green
		color off-white
		background-color rgba(#4CAF50, 0.9)

	&.yellow
		background-color rgba(#FFEB3B, 0.9)

	&.amber
		background-color rgba(#FFC107, 0.9)

	&.orange
		background-color rgba(#FF9800, 0.9)

	&.deep-orange
		color off-white
		background-color rgba(#FF5722, 0.9)

	&.brown
		color off-white
		background-color rgba(#795548, 0.9)

	&.grey
		color off-white
		background-color rgba(#9E9E9E, 0.9)

	&.blue-grey
		color off-white
		background-color rgba(#607D8B, 0.9)

	&.black
		color off-white
		background-color rgba(black, 0.9)

textColorOptions()
	&.red
		color rgba(#F44336, 0.9)

	&.pink
		color rgba(#E91E63, 0.9)

	&.purple
	 	color rgba(#9C27B0, 0.9)

	&.deep-purple
		color rgba(#673AB7, 0.9)

	&.indigo
		color rgba(#3F51B5, 0.9)

	&.blue
		color rgba(#2196F3, 0.9)

	&.light-blue
		color rgba(#03A9F4, 0.9)

	&.cyan
		color rgba(#00BCD4, 0.9)

	&.teal
		color rgba(#009688, 0.9)

	&.green
		color rgba(#4CAF50, 0.9)

	&.yellow
		color rgba(#FFEB3B, 0.9)

	&.amber
		color rgba(#FFC107, 0.9)

	&.orange
		color rgba(#FF9800, 0.9)

	&.deep-orange
		color rgba(#FF5722, 0.9)

	&.brown
		color rgba(#795548, 0.9)

	&.grey
		color rgba(#9E9E9E, 0.9)

	&.blue-grey
		color rgba(#607D8B, 0.9)

	&.black
		color off-white
		background-color rgba(black, 0.9)

span, p, h1, h2, h3, h4, h5, h6, b
	textColorOptions()
