font = 'Fira Sans', 'Roboto', 'Helvectica Neue', sans-serif
off-black = rgba(black, 0.95)
off-white = rgba(white, 0.95)

.text-display-4, h1
	font-size 112px
	font-weight 300
	line-height 128px
	letter-spacing -5px

.text-display-3, h2
	font-size 56px
	font-weight 400
	line-height 64px
	letter-spacing normal

.text-display-2, h3
	font-size 45px
	font-weight 400
	line-height 64px
	letter-spacing normal

.text-display-1, h4
	font-size 34px
	font-weight 400
	line-height 52px
	letter-spacing normal

.text-headline, h5
	font-size 24px
	font-weight 400
	line-height 44px
	letter-spacing normal

.text-title, h6
	font-size 20px
	font-weight 500
	line-height 44px
	letter-spacing normal

.text-subhead
	font-size 16px
	font-weight 400
	line-height 32px
	letter-spacing normal

.text-menu
	font-size 14px
	font-weight 500
	line-height 32px
	letter-spacing normal

.text-button
	font-size 14px
	font-weight 500
	line-height 32px
	letter-spacing normal
	text-transform uppercase

.text-caption
	font-size 12px
	font-weight 400
	line-height 32px
	letter-spacing normal

.text-body, p
	font-size 14px
	font-weight 400
	line-height 25px
	letter-spacing normal

	max-width 40em
	margin 8px 0

b
	font-weight 500

body
	font-family font
	color off-black
	@extend .text-body

h1, h2, h3, h4, h5, h6
	margin 0
